<div class="privacy-container">
  <mat-card class="privacy-card">
    <mat-card-header>
      <mat-card-title>Privacy Policy</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Your privacy is important to us. This Privacy Policy outlines the types of personal information we receive and collect when you use our services and how we safeguard your information.</p>
      <p>We may collect and store information such as your name, email address, and shipping address to provide a personalized shopping experience and fulfill your orders.</p>
      <p>We use cookies to improve your browsing experience and track website usage. You can adjust your browser settings to decline cookies if you prefer.</p>
      <p>Your personal information will never be shared with third parties without your consent unless required by law.</p>
      <p>If you have any questions or concerns about our Privacy Policy, please contact us.</p>
    </mat-card-content>
  </mat-card>
</div>
