<div class="contact-container">
  <mat-card class="contact-card">
    <mat-card-header>
      <mat-card-title>Contact Us</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>We would love to hear from you! If you have any questions, feedback, or inquiries, please feel free to get in touch with us using the contact details below:</p>

      <div class="contact-details">
        <p>Email: <a href="mailto:mega_shop@mail.com">mega_shop@mail.com</a></p>
        <p>Phone: +38 (095) 628-5936</p>
        <p>Address: 123 MegaShop Street, MegaCity, MegaCountry</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
